SAR/P2.- Cuenta Palabras/.idea/P2.- Cuenta Palabras.iml
SAR/P2.- Cuenta Palabras/.idea/misc.xml
SAR/P2.- Cuenta Palabras/.idea/modules.xml
SAR/P2.- Cuenta Palabras/.idea/workspace.xml
SAR/P3.- Mono Infinito/.idea/P3.- Mono Infinito.iml
SAR/P3.- Mono Infinito/.idea/misc.xml
SAR/P3.- Mono Infinito/.idea/modules.xml
SAR/P3.- Mono Infinito/.idea/vcs.xml
SAR/P3.- Mono Infinito/.idea/workspace.xml
SAR/P4.- NLTK/NLTK/
SAR/P4.- NLTK/.idea/
SAR/Proyecto/.idea/Proyecto.iml
SAR/Proyecto/.idea/misc.xml
SAR/Proyecto/.idea/modules.xml
SAR/Proyecto/.idea/workspace.xml
SAR/Proyecto/__pycache__/Compendium.cpython-36.pyc
SAR/Proyecto/newsComp
SAR/Proyecto/eneroComp
SAR/Proyecto.7z
SAR/Proyecto.zip
